*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
    background-color: beige;
}

.header {
    background-color: #43270F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.library {
    display: grid;
    justify-content: center;
    gap: 25px;
    padding: 25px 250px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, 300px);
}

.books {
    background-color: #a2714084;
    color: #43270F;
    border: 2px solid #43270F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    height: 300px;
    padding: 15px;
}

.title {
    order: -1;
    font-size: 26px;
}

.remove, .change {
    height: 25px;
    border: 2px solid #43270F;
    background-color: beige;
    flex-shrink: 0;
}

#showDialog {
    height: 75px;
    aspect-ratio: 1 / 1;
    background-color: #a2714084;
    color: beige ;
    border: 2px solid beige;
    border-radius: 50%;
}